
<section>
    <div class='contenedor'>
        <div class="series">
            <img src="https://m.media-amazon.com/images/I/71yDb0pVoTL._AC_SY679_.jpg" alt="Serie">
        </div>
        <div class="pie">
            <h2>Título: Stranger Things</h2>
            <p>Descripción: Un grupo de niños en la década de los 80 se enfrenta a fenómenos sobrenaturales y a un
                laboratorio secreto del gobierno.</p>
            <br>
            <button type="button">Ocultar</button>
            <a href="https://youtu.be/b9EkMc79ZSU" target="_blank" class="button">Ver Trailer</a>
        </div>
    </div>

    <div class='contenedor'>
        <div class="series">
            <img src="https://m.media-amazon.com/images/I/81YxP1c8S1L._AC_SY679_.jpg" alt="Serie">
        </div>
        <div class="pie">
            <h2>Título: The Mandalorian</h2>
            <p>Descripción: Después de la caída del Imperio, un cazarrecompensas mandaloriano se aventura en los
                confines de la galaxia, lejos de la autoridad de la Nueva República.</p>
            <br>
            <button type="button">Ocultar</button>
            <a href="https://youtu.be/aOC8E8z_ifw" target="_blank" class="button">Ver Trailer</a>
        </div>
    </div>

    <div class='contenedor'>
        <div class="series">
            <img src="https://m.media-amazon.com/images/I/81oN3EfGdEL._AC_SY679_.jpg" alt="Serie">
        </div>
        <div class="pie">
            <h2>Título: Game of Thrones</h2>
            <p>Descripción: Nueve familias nobles luchan por el control del mítico territorio de Westeros mientras una
                antigua enemiga regresa después de estar ausente durante miles de años.</p>
            <br>
            <button type="button">Ocultar</button>
            <a href="https://youtu.be/KPLWWIOCOOQ" target="_blank" class="button">Ver Trailer</a>
        </div>
    </div>

    <div class='contenedor'>
        <div class="series">
            <img src="https://m.media-amazon.com/images/I/81JeS4lUojL._AC_SY679_.jpg" alt="Serie">
        </div>
        <div class="pie">
            <h2>Título: Breaking Bad</h2>
            <p>Descripción: Un profesor de química de secundaria que lucha contra el cáncer de pulmón recurre a la
                fabricación y venta de metanfetaminas para asegurar el futuro de su familia.</p>
            <br>
            <button type="button">Ocultar</button>
            <a href="https://youtu.be/HhesaQXLuRY" target="_blank" class="button">Ver Trailer</a>
        </div>
    </div>

    <div class='contenedor'>
        <div class="series">
            <img src="https://m.media-amazon.com/images/I/81xLDR6P69L._AC_SY679_.jpg" alt="Serie">
        </div>
        <div class="pie">
            <h2>Título: The Witcher</h2>
            <p>Descripción: Geralt de Rivia, un cazador de monstruos mutante, lucha por encontrar su lugar en un mundo
                donde las personas a menudo son más perversas que las bestias.</p>
            <br>
            <button type="button">Ocultar</button>
            <a href="https://youtu.be/ndl1W4ltcmg" target="_blank" class="button">Ver Trailer</a>
        </div>
    </div>
</section>