
<app-header></app-header>
<section class="browse-page">
  <!-- Película 1 -->
  <div class='contenedor'>
    <div class="peliculas">
      <img src="https://m.media-amazon.com/images/I/51zUbui+gbL.jpg" alt="Peliculatheshawshank">
    </div>
    <div class="pie">
      <h2>Título: The Shawshank Redemption</h2>
      <p>Descripción: Un banquero injustamente encarcelado se hace amigo de un recluso veterano y encuentra
        consuelo y redención en su ingenio y amistad.</p>
      <button type="button">Ocultar</button>
      <a href="https://youtu.be/6hB3S9bIaco" target="_blank" class="button">Ver Trailer</a>
    </div>
  </div>

  <!-- Película 2 -->
  <div class='contenedor'>
    <div class="peliculas">
      <img src="https://i.imgur.com/81niF8usFPL.jpg" alt="Peliculagodfather">
    </div>
    <div class="pie">
      <h2>Título: The Godfather</h2>
      <p>Descripción: La saga de la familia Corleone se centra en la vida del patriarca Vito Corleone y su hijo
        Michael.</p>
      <button type="button">Ocultar</button>
      <a href="https://youtu.be/sY1S34973zA" target="_blank" class="button">Ver Trailer</a>
    </div>
  </div>

  <!-- Película 3 -->
  <div class='contenedor'>
    <div class="peliculas">
      <img src="https://m.media-amazon.com/images/I/51o7bRTOe5L.jpg" alt="Peliculapulp">
    </div>
    <div class="pie">
      <h2>Título: Pulp Fiction</h2>
      <p>Descripción: Las vidas de dos sicarios, un boxeador, la esposa de un gánster y dos bandidos se entrelazan
        en una serie de incidentes violentos.</p>
      <button type="button">Ocultar</button>
      <a href="https://youtu.be/s7EdQ4FqbhY" target="_blank" class="button">Ver Trailer</a>
    </div>
  </div>

  <!-- Película 4 -->
  <div class='contenedor'>
    <div class="peliculas">
      <img src="https://m.media-amazon.com/images/I/71u5vWI3-oL._AC_SL1111_.jpg" alt="PeliculaFores">
    </div>
    <div class="pie">
      <h2>Título: Forrest Gump</h2>
      <p>Descripción: La vida de Forrest Gump, un hombre con un coeficiente intelectual bajo, pero con buenas
        intenciones, y cómo influye en algunos de los eventos más importantes del siglo XX.</p>
      <button type="button">Ocultar</button>
      <a href="https://youtu.be/bLvqoHBptjg" target="_blank" class="button">Ver Trailer</a>
    </div>
  </div>

  <!-- Película 5 -->
  <div class='contenedor'>
    <div class="peliculas">
      <img src="https://m.media-amazon.com/images/I/51D3hbjCQDL._AC_SY679_.jpg" alt="Peliculainception">
    </div>
    <div class="pie">
      <h2>Título: Inception</h2>
      <p>Descripción: Un ladrón especializado en extraer secretos de los sueños recibe la tarea de implantar una idea en
        la mente de un objetivo.</p>
      <button type="button">Ocultar</button>
      <a href="https://youtu.be/YoHD9XEInc0" target="_blank" class="button">Ver Trailer</a>
    </div>
  </div>

  <!-- Película 6 -->
  <div class='contenedor'>
    <div class="peliculas">
      <img src="https://m.media-amazon.com/images/I/71v3V7gO8ML._AC_SY679_.jpg" alt="PeliculatheMatrix">
    </div>
    <div class="pie">
      <h2>Título: The Matrix</h2>
      <p>Descripción: Un programador de computadoras descubre que la realidad que conoce es una simulación creada por
        máquinas inteligentes.</p>
      <button type="button">Ocultar</button>
      <a href="https://youtu.be/vKQi3bBA1y8" target="_blank" class="button">Ver Trailer</a>
    </div>
  </div>
</section>